#header { width: 1000px; height: 120px; background: red; }
#header ul { width: 1000px; position: center; background: blue; }
#header ul li { float: left; width: 120px; background: green; g}
#header ul li:hover { background: grey; }